footer{
    position: relative;
    background: #FFFFFF;
    padding: 32px 0;
    .flex{
        display: flex;
        justify-content: center;
        gap: 80px;
        .right{
            h4{
                font-family: 'Athelas';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                color: #555B47;
                padding: 0 0 20px 0;
            }
            p{
                font-family: 'Gilmer';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #555B47;
                margin-top: 16px;
            }
        }

        .middle{
            p{
                font-family: 'Gilmer';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                color: #555B47;
                opacity: 0.5;
                margin-top: 170px;
            }
        }

        .left{ 
            display: flex;
            flex-direction: column;
            a{
                font-family: 'Gilmer';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #555B47;
                margin-top: 16px;
                text-decoration: none;
            }
        }
    }
    @media screen and (max-width: 768px) {
        .flex{
            flex-direction: column-reverse;
            gap: 32px;
            .left img{
                width: 50%;
            }
            .middle{
                display: none;
            }
            .right{
                h4{
                    padding: 0;
                }
            }
            
        }
        .container-index .animations{
            display: block;
        }
    
        header .nav{
            display: none;
        }

      }

}


@media screen and (max-width: 480px) {
    .right{
        text-align: center;
    }
    .left{
        text-align: center;
        img{
            margin: auto;
        }
    }


}