@font-face {
    font-family: 'Athelas';
    src: url(../font/Athelas-Regular.woff);
}

@font-face {
    font-family: 'Gilmer';
    src: url(../font/GilmerRegular.woff);
    font-weight: 400;
}

@font-face {
    font-family: 'Gilmer';
    src: url(../font/GilmerBold.woff);
    font-weight: 700;
}

@font-face {
    font-family: 'Gilmer';
    src: url(../font/GilmerMedium.woff);
    font-weight: 500;
}

////////////////////////////// HOME ////////////////////////////
html{
    overflow-x: hidden;
    margin-top: 0;
    
    .grecaptcha-badge{
        display: none;
    }
}



header{
    background-color: white;
    width: 100%;
    position: sticky;
    z-index: 5;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease-out,background-color 0.25s ease-out;
    opacity: 1;
    visibility: visible;
    &.hidden{
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease-in, 0s visibility 0.5s;
    }
    .home & {
        position: fixed;
        &.top{
            background-color: transparent;
            a{
                color: white;
            }
            a:hover{
                color: #3A3D35;
            }
            img{
                opacity: 0;
            }
        }
    }
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 150px;
        padding: 0 64px;    
        opacity: 1;
        ul{
            display: flex;
            align-items: center;
            justify-content: right;
            gap: 25px;
        }
        li{
            list-style-type: none;
            a{
                text-decoration: none;
                color: #555B47;
                font-family: 'Gilmer';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                transition: color 200ms ease-in;
            }
            
            // .active{
            //     border-bottom: 2px solid #3A3D35;
            // }
            a:hover{
                color: black;
            }
        }
    }
}



