@font-face {
    font-family: 'Athelas';
    src: url(../assets/Athelas-Regular.ttf);
}

@font-face {
    font-family: 'Gilmer';
    src: url(../assets/Gilmer-Regular.otf);
}

////////////////////////////// HOME ////////////////////////////
html{
    overflow-x: hidden;
    margin-top: 0;
}


header{
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 5;
    transition: top 0.3s;
    transition-delay: 0.2s;
    top: 0;
    left: 0;
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 32px 64px;
        transition-property: opacity, left;
        transition-duration: 1s;
        ul{
            display: flex;
            align-items: center;
            justify-content: right;
            gap: 25px;
        }
        li{
            list-style-type: none;
            a{
                text-decoration: none;
                color: #555B47;

                font-family: 'Gilmer';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
            }
        }
    }
}

