@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  padding: 0;
}

@font-face {
  font-family: "Athelas";
  src: url(../font/Athelas-Regular.woff);
}
@font-face {
  font-family: "Gilmer";
  src: url(../font/GilmerRegular.woff);
  font-weight: 400;
}
@font-face {
  font-family: "Gilmer";
  src: url(../font/GilmerBold.woff);
  font-weight: 700;
}
@font-face {
  font-family: "Gilmer";
  src: url(../font/GilmerMedium.woff);
  font-weight: 500;
}
html {
  overflow-x: hidden;
  margin-top: 0;
}
html .grecaptcha-badge {
  display: none;
}

header {
  background-color: white;
  width: 100%;
  position: sticky;
  z-index: 5;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease-out, background-color 0.25s ease-out;
  opacity: 1;
  visibility: visible;
}
header.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in, 0s visibility 0.5s;
}
.home header {
  position: fixed;
}
.home header.top {
  background-color: transparent;
}
.home header.top a {
  color: white;
}
.home header.top a:hover {
  color: #3A3D35;
}
.home header.top img {
  opacity: 0;
}
header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  padding: 0 64px;
  opacity: 1;
}
header .nav ul {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 25px;
}
header .nav li {
  list-style-type: none;
}
header .nav li a {
  text-decoration: none;
  color: #555B47;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  transition: color 200ms ease-in;
}
header .nav li a:hover {
  color: black;
}

footer {
  position: relative;
  background: #FFFFFF;
  padding: 32px 0;
}
footer .flex {
  display: flex;
  justify-content: center;
  gap: 80px;
}
footer .flex .right h4 {
  font-family: "Athelas";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #555B47;
  padding: 0 0 20px 0;
}
footer .flex .right p {
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #555B47;
  margin-top: 16px;
}
footer .flex .middle p {
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #555B47;
  opacity: 0.5;
  margin-top: 170px;
}
footer .flex .left {
  display: flex;
  flex-direction: column;
}
footer .flex .left a {
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #555B47;
  margin-top: 16px;
  text-decoration: none;
}

.container-index .background {
  position: relative;
}
.container-index .background > img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 6;
  height: 100%;
}
.container-index .acceuil {
  background-size: cover;
  background-position: 25% 90%;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  z-index: 1;
}
.container-index .acceuil .marker_layer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-index .acceuil .marker_layer .marker {
  position: relative;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.5s ease-in, 0s visibility 0.5s;
  visibility: hidden;
}
.container-index .acceuil .marker_layer .marker.hidden {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-out;
}
.container-index .acceuil .marker_layer .marker .text_hidden {
  display: none;
}
.container-index .acceuil .marker_layer .marker:hover .text_hidden {
  display: block;
}
.container-index .acceuil .acceuil > img {
  width: 100%;
  height: 100vh;
}
.container-index .acceuil .ouverture #periode {
  position: absolute;
  top: 86%;
  left: 256px;
  transform: translate(-50%, -50%);
  text-align: left;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
}
.container-index .acceuil .ouverture #acces {
  position: absolute;
  top: 89%;
  left: 155px;
  transform: translate(-50%, -50%);
  text-align: left;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
}
.container-index .acceuil .panorama {
  position: absolute;
  top: 86%;
  right: 0;
  transform: translate(-50%, -50%);
}
.container-index .acceuil .panorama button {
  margin-left: -50px;
  width: 150px;
  padding: 12px 0;
  border: none;
  cursor: pointer;
  text-decoration: none;
  background-color: white;
  border-radius: 16px;
  transition: all 200ms ease-in;
}
.container-index .acceuil .panorama button p {
  color: #3A3D35;
}
.container-index .acceuil .panorama button:hover {
  background-color: #3A3D35;
}
.container-index .acceuil .panorama button:hover p {
  color: white;
}
.container-index .acceuil .panorama p {
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}
.container-index .acceuil .content-index {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: opacity 0.5s ease-out;
  opacity: 1;
  visibility: visible;
}
.container-index .acceuil .content-index.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in, 0s visibility 0.5s;
}
.container-index .acceuil .content-index .titles {
  -webkit-backdrop-filter: blur(1.8px);
  backdrop-filter: blur(1.2px);
  padding: 32px;
  border-radius: 140px;
  transition: backdrop-filter 0.5s ease-in;
}
.container-index .acceuil .content-index .titles h1 {
  color: white;
  text-align: center;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
}
.container-index .acceuil .content-index .titles h2 {
  text-align: center;
  font-family: "Athelas";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: white;
}
.container-index .acceuil #pano_moins {
  display: none;
}
.container-index .acceuil .content-pano {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container-index .acceuil .content-pano .localisation .afficher p {
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: white;
  opacity: 1;
}
.container-index .acceuil .content-pano .localisation .afficher .pointilles {
  border: 2px dashed #FFFFFF;
  transform: rotate(-90deg);
  width: 27px;
  height: 0px;
  margin-top: 14px;
  margin-left: 4px;
  opacity: 1;
}
.container-index .acceuil .content-pano .localisation img {
  margin-top: 16px;
}
.container-index .intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #F8F4EC;
  position: relative;
}
.container-index .intro #topo_left {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-20%, -10%);
}
.container-index .intro #topo_right {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.1;
  transform: translate(40%, 10%);
}
.container-index .intro .intro-slider {
  width: 55%;
}
.container-index .intro .intro-right {
  padding-left: 48px;
  width: 45%;
  padding: 0 64px;
}
.container-index .intro .intro-right h3 {
  font-family: "Athelas";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #555B47;
  margin: 0 0 32px 0;
}
.container-index .intro .intro-right p {
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #555B47;
}
.container-index .intro .intro-right button {
  margin-top: 64px;
  border: none;
  background: none;
}
.container-index .intro .intro-right button a {
  display: block;
  width: 100%;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #F8F4EC;
  padding: 10px 25px;
  background: #3A3D35;
  border-radius: 1px;
  text-align: center;
  text-decoration: none;
  transition: all 500ms;
}
.container-index .intro .intro-right button a:hover {
  cursor: pointer;
  background-color: #1d1e1b;
}
.container-index .main-carousel .carousel-cell {
  padding: 0 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-index .main-carousel .carousel-cell p {
  flex-direction: column;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
  color: #35392E;
  opacity: 0.3;
}

.services {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #555B47;
  position: relative;
  z-index: 2;
}
.services #service_topo_gauche {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, 0);
}
.services #service_topo_droite {
  position: absolute;
  right: 0;
  transform: translate(60%, 0);
  object-fit: contain;
}
.services .wrap {
  padding: 0 64px;
}
.services .wrap h3 {
  margin-top: 80px;
  text-align: center;
  font-family: "Athelas";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
  /* identical to box height */
  color: #F8F4EC;
}
.services .wrap .flex {
  margin-top: 80px;
  display: flex;
  gap: 32px;
  flex-direction: row;
  position: relative;
}
.services .wrap .flex .services-left {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 450px;
  background: #F8F4EC;
  box-shadow: 0px 0px 60px 20px rgba(0, 0, 0, 0.25);
}
.services .wrap .flex .services-left .content-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.services .wrap .flex .services-left .content-right h4 {
  text-align: center;
  font-family: "Gilmer";
  font-weight: 700;
  font-size: 32px;
  color: #555B47;
}
.services .wrap .flex .services-left .content-right > legend {
  padding: 8px 0;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #555B47;
}
.services .wrap .flex .services-left .content-right .conditions {
  margin-left: auto;
  margin-right: auto;
}
.services .wrap .flex .services-left .content-right .conditions .condition {
  display: flex;
  align-items: center;
  vertical-align: middle;
  gap: 24px;
}
.services .wrap .flex .services-left .content-right .conditions .condition > p {
  padding: 12px 0;
  text-align: center;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  font-size: 20px;
  color: #555B47;
}
.services .wrap .flex .services-left .content-right .conditions .condition .legends p {
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #555B47;
}
.services .wrap .flex .services-left .content-right .conditions .condition .legends legend {
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #555B47;
  opacity: 0.8;
}
.services .wrap .flex .services-left .content-left {
  width: 50%;
  background-image: url("../../assets/img/gardiennage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.services .wrap .flex .services-left #gardiennage {
  width: 50%;
  background-image: url("../../assets/img/hors_gardiennage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.services .wrap .flex .services-right {
  width: 50%;
  height: 100%;
}
.services .wrap .flex .rappels {
  background: #F8F4EC;
  box-shadow: 0px 0px 60px 10px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 500px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 256px;
  height: 225px;
}
.services .wrap .flex .rappels img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.services .wrap .flex .rappels .warnings {
  margin: 24px 0 0 0;
}
.services .wrap .flex .rappels .warnings p {
  font-family: "Gilmer";
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #555B47;
}
.services .wrap .flex .rappels .warnings .reglementation {
  display: flex;
  justify-content: center;
}
.services .wrap .flex .rappels .warnings .reglementation a {
  margin-top: 4px;
  text-align: center;
  font-family: "Gilmer";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #555B47;
  opacity: 0.5;
  text-decoration: none;
}

.cuisine {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #555B47;
  position: relative;
  z-index: 1;
  flex-wrap: wrap;
}
.cuisine h3 {
  padding-top: 64px;
  text-align: center;
  font-family: "Athelas";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
  /* identical to box height */
  color: #F8F4EC;
}
.cuisine .texte {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.cuisine .texte p {
  width: 502px;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #F8F4EC;
  text-align: left;
}
.cuisine .texte a {
  margin-top: 42px;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #F8F4EC;
  width: 195px;
  padding: 10px 0;
  background: #3A3D35;
  border-radius: 1px;
  text-align: center;
  text-decoration: none;
  width: 195px;
  height: 43px;
  transition: all 500ms;
}
.cuisine .texte a:hover {
  background-color: #1d1e1b;
}

.animations {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: #F8F4EC;
  height: 100vh;
  align-items: center;
}
.animations .wrap {
  display: flex;
  flex-direction: row;
  padding: 0 64px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
}
.animations .wrap h3 {
  font-family: "Athelas";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #555B47;
  padding-bottom: 32px;
}
.animations .wrap .animations-right {
  width: 50%;
  display: flex;
  justify-content: right;
}
.animations .wrap .animations-left {
  width: 50%;
}
.animations .wrap .animations-left p {
  text-align: left;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #555B47;
}
.animations .wrap .animations-left .button {
  margin-top: 64px;
}
.animations .wrap .animations-left .button a {
  display: inline-block;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #F8F4EC;
  padding: 10px 32px;
  background: #3A3D35;
  border-radius: 1px;
  text-align: center;
  text-decoration: none;
  transition: all 500ms;
}
.animations .wrap .animations-left .button a:hover {
  cursor: pointer;
  background-color: #1d1e1b;
}

.container-acces {
  background-color: #F8F4EC;
}
.container-acces .acces {
  min-height: 90vh;
}
.container-acces .acces .titles {
  text-align: center;
}
.container-acces .acces .titles h1 {
  padding-top: 100px;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #555B47;
  text-align: center;
  margin-bottom: 12px;
}
.container-acces .acces .titles span {
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #555B47;
  opacity: 0.5;
  text-align: center;
  padding-top: 8px;
}
.container-acces .acces .content {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 0 64px;
  gap: 32px;
}
.container-acces .acces .content .images {
  display: flex;
  flex-direction: row;
  width: 50%;
  gap: 20px;
}
.container-acces .acces .content .images .image {
  display: flex;
  flex-direction: column;
}
.container-acces .acces .content .images .image img {
  width: 100%;
  display: flex;
  box-shadow: 0px 0px 60px 10px rgba(0, 0, 0, 0.25);
}
.container-acces .acces .content .images .image legend {
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #8C8C8C;
  opacity: 0.5;
  text-align: right;
}
.container-acces .acces .texte {
  width: 50%;
}
.container-acces .acces .texte p {
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  color: #555B47;
}
.container-acces .itineraires {
  padding: 0 64px;
}
.container-acces .itineraires h2 {
  font-family: "Athelas";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  color: #555B47;
}
.container-acces .itineraires h3 {
  margin-top: 50px;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  text-align: left;
  color: rgba(85, 91, 71, 0.9);
}
.container-acces .itineraires .itineraire {
  width: 100%;
  min-height: 35vh;
  background-color: #EDEDE9;
  margin-top: 25px;
  display: flex;
}
.container-acces .itineraires .itineraire .left {
  background: linear-gradient(0deg, rgba(85, 91, 71, 0.7), rgba(85, 91, 71, 0.7)), #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 33.3%;
}
.container-acces .itineraires .itineraire .left h4 {
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #F8F4EC;
}
.container-acces .itineraires .itineraire .left p {
  margin-top: 8px;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #F8F4EC;
}
.container-acces .itineraires .itineraire .middle {
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}
.container-acces .itineraires .itineraire .middle p {
  text-align: left;
  padding: 8px 96px;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #555B47;
}
.container-acces .itineraires .itineraire .middle #duree::before {
  content: "";
  background-image: url("../../assets/img/icon/duree.svg");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 32px; /* Taille de l'icône */
  height: 32px; /* Taille de l'icône */
  margin-right: 8px; /* Espacement à droite de l'icône */
}
.container-acces .itineraires .itineraire .middle #distance::before {
  content: "";
  background-image: url("../../assets/img/icon/distance.svg");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 32px; /* Taille de l'icône */
  height: 32px; /* Taille de l'icône */
  margin-right: 8px; /* Espacement à droite de l'icône */
}
.container-acces .itineraires .itineraire .middle #difficulte::before {
  content: "";
  background-image: url("../../assets/img/icon/difficulte.svg");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 32px; /* Taille de l'icône */
  height: 32px; /* Taille de l'icône */
  margin-right: 8px; /* Espacement à droite de l'icône */
}
.container-acces .itineraires .itineraire .middle #carte::before {
  content: "";
  background-image: url("../../assets/img/icon/carte.svg");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 32px; /* Taille de l'icône */
  height: 32px; /* Taille de l'icône */
  margin-right: 8px; /* Espacement à droite de l'icône */
}
.container-acces .itineraires .itineraire .right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  padding: 0 32px;
  width: 33.3%;
}
.container-acces .itineraires .itineraire .right p {
  text-align: left;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #555B47;
}
.container-acces .itineraires #background-normal {
  background: linear-gradient(0deg, #555B47, #555B47), #F8F4EC;
}
.container-acces .itineraires #background-dark {
  background: linear-gradient(0deg, #434838, #434838), #F8F4EC;
}
.container-acces .reglementation {
  margin-top: 96px;
  padding: 0 64px;
}
.container-acces .reglementation h2 {
  font-family: "Athelas";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  color: #555B47;
  margin-bottom: 48px;
}
.container-acces .reglementation .parent {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  margin: auto;
}
.container-acces .reglementation .parent .item {
  padding: 64px 0;
  width: 100%;
  background: #555B47;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container-acces .reglementation .parent .item img {
  margin: auto;
  width: 80px;
  height: 80px;
}
.container-acces .reglementation .parent .item p {
  text-align: center;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #F8F4EC;
}
.container-acces .reglementation .parent .item legend {
  margin-top: 8px;
  text-align: center;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #F8F4EC;
}
.container-acces .reglementation > p {
  margin: 50px;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #555B47;
}
.container-acces .reglementation > p a {
  text-decoration: none;
  color: #728CB4;
}
.container-acces .carte {
  position: relative;
  padding-bottom: 128px;
}
.container-acces .carte h2 {
  margin: 64px 0;
  font-family: "Athelas";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  color: #555B47;
}
.container-acces .carte #map {
  position: relative;
  width: 90%;
  padding: 0 64px;
  height: 80vh;
  margin: auto;
  z-index: 1;
}
.container-acces .carte img {
  z-index: 5;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-30%, -50%);
}

.animation {
  background: #555B47;
  padding: 100px 64px;
}
.animation .intro {
  min-height: 50vh;
  position: relative;
}
.animation .intro h1 {
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 135%;
  color: #F8F4EC;
}
.animation .intro p {
  margin-top: 25px;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #F8F4EC;
  width: 65%;
}
.animation .intro img {
  position: absolute;
  top: 0;
  right: 0;
}
.animation h2 {
  font-family: "Athelas";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #F8F4EC;
}

.programme {
  background: #555B47;
  height: 100vh;
}
.programme .ligne {
  height: 0px;
  border: 3px solid #F8F4EC;
}
.programme .animation-slider {
  padding: 0 64px;
  margin-bottom: 128px;
  position: relative;
  bottom: 28px;
}
.programme .animation-slider .main-carousel .carousel-cell {
  padding: 0 32px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 33%;
}
.programme .animation-slider .main-carousel .carousel-cell img:first-child {
  width: 50px;
  height: 86px;
}
.programme .animation-slider .main-carousel .carousel-cell img:last-child {
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.25);
  width: 100%;
}
.programme .animation-slider .main-carousel .carousel-cell .categorie {
  font-family: "Gilmer";
  font-style: normal;
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.programme .animation-slider .main-carousel .carousel-cell .titre {
  margin-top: 25px;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.programme .animation-slider .main-carousel .carousel-cell .text {
  margin-top: 25px;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.cuisine {
  position: relative;
  background: #555B47;
  background-image: url("../../assets/img/cuisine_background.svg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 256px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cuisine img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-40%, -45%);
}
.cuisine h1 {
  padding-top: 230px;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 700;
  font-size: 63px;
  color: #F8F4EC;
}
.cuisine p {
  margin-top: 50px;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #F8F4EC;
}
.cuisine .ligne {
  margin-top: 50px;
  border: 2px solid #F8F4EC;
  border-radius: 1px;
  margin-bottom: 64px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background: #555B47;
  padding-bottom: 64px;
}
.menu > p {
  margin: auto;
  width: 50%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #F8F4EC;
}
.menu a {
  text-decoration: none;
  text-align: center;
  border: none;
  background: none;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #F8F4EC;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  padding: 9px 21px;
  background: #3A3D35;
  border-radius: 1px;
  text-decoration: none;
  transition: all 500ms;
}
.menu a:hover {
  background-color: #1d1e1b;
}
.menu .container .parent {
  padding: 0 64px;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 0px;
  min-height: 306px;
}
.menu .container .parent .content {
  flex-direction: column;
  background: #F8F4EC;
  padding: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.menu .container .parent .content h3 {
  font-family: "Athelas";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 135%;
  color: #555B47;
}
.menu .container .parent .content p {
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #555B47;
}

.contact {
  background: #F8F4EC;
  padding: 0 64px;
}
.contact h1 {
  padding-top: 100px;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  color: #555B47;
}
.contact h3 {
  margin-top: 8px;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #555B47;
}
.contact h2 {
  margin-top: 100px;
  font-family: "Athelas Arabic";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #555B47;
}
.contact .form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 100px;
}
.contact .form .left {
  width: 70%;
}

body div.wpforms-container-full .wpforms-form .wpforms-field-container {
  --gap-field: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-field);
}
body div.wpforms-container-full .wpforms-form .wpforms-field {
  width: 100%;
}
body div.wpforms-container-full .wpforms-form .wpforms-field:nth-child(1), body div.wpforms-container-full .wpforms-form .wpforms-field:nth-child(2) {
  --nth-width: calc(var(--gap-field) / 2);
  width: calc(50% - var(--nth-width));
}
body div.wpforms-container-full .wpforms-form .wpforms-field input {
  border: 3px solid #555B47;
  background: none;
  max-width: 100%;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #555B47;
  padding: 8px;
}
body div.wpforms-container-full .wpforms-form .wpforms-field textarea {
  border: 3px solid #555B47;
  background: none;
  max-width: 100%;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #555B47;
  padding: 8px;
}
body div.wpforms-container-full .wpforms-form .wpforms-field .wpforms-field-label {
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #555B47;
}
body div.wpforms-container-full .wpforms-form .wpforms-field .wpforms-field-label span {
  display: none;
}
body div.wpforms-container-full .wpforms-form .wpforms-field .wpforms-field-medium {
  background: none;
  border: 3px solid #555B47;
}
body div.wpforms-container-full .wpforms-form .wpforms-submit-container {
  float: right;
}
body div.wpforms-container-full .wpforms-form .wpforms-submit-container button {
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #F8F4EC;
  padding: 10px 32px;
  background: #3A3D35;
  border-radius: 1px;
  text-align: center;
  text-decoration: none;
  transition: all 500ms;
  width: 300px;
}
body div.wpforms-container-full .wpforms-form .wpforms-submit-container button:hover {
  background-color: #1d1e1b;
}

.tarifs .titre {
  height: 30vh;
  background: #F8F4EC;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.tarifs .titre h1 {
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  color: #3A472B;
  margin-bottom: 24px;
}
.tarifs .titre p {
  font-family: "Gilmer";
  font-size: 20px;
  line-height: 135%;
  text-align: center;
  color: #555B47;
}
.tarifs .titre p strong {
  font-weight: 700;
}
.tarifs .forfaits {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 115px;
  background: #555B47;
  position: relative;
}
.tarifs .forfaits > p {
  margin-top: 35px;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #FFFFFF;
}
.tarifs .forfaits .parent {
  padding: 60px 0 100px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 64px;
  grid-row-gap: 0px;
}
.tarifs .forfaits .parent .infos {
  position: absolute;
  display: flex;
}
.tarifs .forfaits .parent .infos .taxes {
  background: #F8F4EC;
  padding: 32px 32px 32px 50px;
}
.tarifs .forfaits .parent .infos .taxes p {
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #555B47;
}
.tarifs .forfaits .parent .infos img {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-50%);
}
.tarifs .forfaits .parent .tarif {
  background: #F8F4EC;
}
.tarifs .forfaits .parent .tarif .prix {
  padding: 128px 48px;
  background-image: url("../../assets/img/tarif_enfant.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.tarifs .forfaits .parent .tarif .prix p {
  font-family: "Gilmer";
  font-weight: 700;
  font-size: 96px;
  line-height: 112px;
  text-align: center;
  color: #F8F4EC;
}
.tarifs .forfaits .parent .tarif .categorie p {
  padding: 32px 0;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #555B47;
}
.tarifs .forfaits .parent .tarif2 {
  background: #F8F4EC;
}
.tarifs .forfaits .parent .tarif2 .prix {
  padding: 128px 48px;
  background-image: url("../../assets/img/tarif_adulte.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.tarifs .forfaits .parent .tarif2 .prix p {
  font-family: "Gilmer";
  font-size: 96px;
  font-weight: 700;
  line-height: 112px;
  text-align: center;
  color: #F8F4EC;
}
.tarifs .forfaits .parent .tarif2 .categorie p {
  padding: 32px 0;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #555B47;
}
.tarifs .forfaits .parent .tarif3 {
  background: #F8F4EC;
}
.tarifs .forfaits .parent .tarif3 .prix {
  padding: 128px 48px;
  background-image: url("../../assets/img/tarif_caf.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.tarifs .forfaits .parent .tarif3 .prix p {
  font-family: "Gilmer";
  font-weight: 700;
  font-size: 96px;
  line-height: 112px;
  text-align: center;
  color: #F8F4EC;
}
.tarifs .forfaits .parent .tarif3 .categorie p {
  padding: 32px 0 0 0;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #555B47;
}
.tarifs .forfaits .parent .tarif3 .categorie legend {
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #555B47;
  padding-bottom: 16px;
}
.tarifs .forfaits .parent .tarif4 {
  background: #F8F4EC;
}
.tarifs .forfaits .parent .tarif4 .prix {
  padding: 128px 48px;
  background-image: url("../../assets/img/tarif_bivouac.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.tarifs .forfaits .parent .tarif4 .prix p {
  font-family: "Gilmer";
  font-size: 96px;
  font-weight: 700;
  line-height: 112px;
  text-align: center;
  color: #F8F4EC;
}
.tarifs .forfaits .parent .tarif4 .categorie p {
  padding: 32px 0;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #555B47;
}

.reservation {
  padding: 100px 64px;
  background: #F8F4EC;
}
.reservation input {
  background: none;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #555B47;
  padding: 0 8px;
}
.reservation h2 {
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #3A472B;
  text-align: center;
  padding-bottom: 100px;
}
.reservation .resa {
  display: flex;
  flex-direction: row;
  gap: 64px;
}
.reservation .resa .resa-left {
  display: flex;
  flex-wrap: wrap;
  clear: both;
}
.reservation .resa .resa-left label {
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 135%;
  color: #555B47;
}
.reservation .resa .resa-left input {
  border: 3px solid #555B47;
  height: 50px;
}
.reservation .resa .resa-left .form-flex {
  display: flex;
  flex-direction: row;
  gap: 100px;
  width: 100%;
}
.reservation .resa .resa-left .form-flex .form-left {
  width: 50%;
}
.reservation .resa .resa-left .form-flex .form-left input {
  margin-bottom: 16px;
}
.reservation .resa .resa-left .form-flex .form-right {
  width: 50%;
}
.reservation .resa .resa-left .form-flex .form-right input {
  margin-bottom: 16px;
}
.reservation .resa .resa-left .form-flex input {
  width: 100%;
}
.reservation .resa .resa-left .nb-personnes {
  margin-top: 50px;
  width: 100%;
}
.reservation .resa .resa-left .nb-personnes .flex {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.reservation .resa .resa-left .nb-personnes .flex .right {
  width: 224px;
}
.reservation .resa .resa-left .nb-personnes .flex .right > p {
  color: white;
  width: 224px;
  padding: 12px 0;
  background: #555B47;
}
.reservation .resa .resa-left .nb-personnes .flex .middle {
  width: 224px;
}
.reservation .resa .resa-left .nb-personnes .flex .middle > p {
  color: white;
  width: 224px;
  padding: 12px 0;
  background: #555B47;
}
.reservation .resa .resa-left .nb-personnes .flex .left {
  width: 224px;
}
.reservation .resa .resa-left .nb-personnes .flex .left > p {
  color: white;
  width: 224px;
  padding: 12px 0;
  background: #555B47;
}
.reservation .resa .resa-left .nb-personnes .flex .quantite {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reservation .resa .resa-left .nb-personnes .flex .quantite button {
  width: 33%;
  border: none;
  background: none;
}
.reservation .resa .resa-left .nb-personnes .flex .quantite input {
  text-align: center;
  border: none;
  width: 33%;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #555B47;
  background: none;
}
.reservation .resa .resa-left .nb-personnes p {
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #555B47;
  text-align: center;
}
.reservation .resa .resa-left .date {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.reservation .resa .resa-left .date label {
  text-align: center;
  margin-bottom: 10px;
}
.reservation .resa .resa-left .date input {
  text-align: center;
  width: 100%;
  margin: auto;
  width: 30%;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #555B47;
}
.reservation .resa .resa-left .infos {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.reservation .resa .resa-left .infos p {
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 135%;
  color: #555B47;
  text-align: center;
}
.reservation .resa .resa-left .infos input {
  display: none;
  text-align: center;
  padding: 12px 50px;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 135%;
  border: 5px solid #555B47;
}
.reservation .resa .resa-left .infos input:checked + span {
  color: white;
  background: #555B47;
}
.reservation .resa .resa-left .infos .wpcf7-list-item-label {
  display: block;
  padding: 12px 50px;
  border: 3px solid #555B47;
  cursor: pointer;
}
.reservation .resa .resa-left .infos .wpcf7-response-output {
  border: none;
  color: #3A472B;
}
.reservation .resa .resa-left .message {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.reservation .resa .resa-left .message label {
  margin-bottom: 10px;
}
.reservation .resa .resa-left .message textarea {
  background: none;
  width: 100%;
  height: 200px;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #555B47;
}
.reservation .resa .resa-left .submit {
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.reservation .resa .resa-left .submit input {
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: white;
  background: #555B47;
  padding: 0 112px;
}
.reservation .resa .resa-right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.reservation .resa .resa-right p {
  margin-left: auto;
  margin-right: auto;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #555B47;
}
.reservation .resa .resa-right h3 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Athelas";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #555B47;
  margin-bottom: 25px;
}

.nuit {
  background: #F8F4EC;
  width: 100%;
  display: flex;
  gap: 160px;
  flex-direction: row;
  min-height: 50vh;
  padding: 100px 64px;
}
.nuit .left {
  width: 50%;
  background-image: url("../../assets/img/refuge_nuit.jpg");
  background-size: cover;
  background-position: 20% 80%;
  background-repeat: no-repeat;
}
.nuit .right {
  width: 50%;
}
.nuit .right h3 {
  font-family: "Athelas";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #555B47;
}
.nuit .right p {
  margin-top: 32px;
  line-height: 150%;
  min-height: 100%;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #555B47;
}

@media screen and (max-width: 1250px) {
  .tarifs .forfaits .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
  }
}
.erreur {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #F8F4EC;
  background-image: url("../../assets/img/404_background.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.erreur h1 {
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: #555B47;
}
.erreur p {
  margin-top: 8px;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  width: 534px;
  text-align: center;
  color: #555B47;
}
.erreur a {
  margin-top: 25px;
  width: 334px;
  padding: 13px 0;
  background: #555B47;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #F8F4EC;
  text-decoration: none;
  text-align: center;
}

.mentions {
  padding: 100px 64px;
  background-color: #555B47;
}
.mentions h1 {
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #F8F4EC;
}
.mentions h2 {
  font-family: "Athelas";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #FFFFFF;
}

.plan {
  background-color: #F8F4EC;
  padding: 100px 64px;
}
.plan h1 {
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #555B47;
}
.plan .parent {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 0px;
  height: 400px;
  width: 192px;
}
.plan .parent .item1,
.plan .parent .item2,
.plan .parent .item3,
.plan .parent .item4,
.plan .parent .item5,
.plan .parent .item6 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #555B47;
  padding: 10px;
  width: 192px;
  height: 400px;
}
.plan .parent .item1 h3,
.plan .parent .item2 h3,
.plan .parent .item3 h3,
.plan .parent .item4 h3,
.plan .parent .item5 h3,
.plan .parent .item6 h3 {
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #FFFFFF;
}
.plan .parent .item1 p,
.plan .parent .item2 p,
.plan .parent .item3 p,
.plan .parent .item4 p,
.plan .parent .item5 p,
.plan .parent .item6 p {
  padding: 10px 8px;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.confidentialite {
  background: #555B47;
  padding: 100px;
}
.confidentialite h1 {
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #F8F4EC;
  margin-bottom: 32px;
}
.confidentialite .text {
  width: 50%;
}
.confidentialite .text p {
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.confidentialite .text ul {
  margin-bottom: 16px;
  margin-left: 12px;
  margin-top: 12px;
}
.confidentialite .text ul li {
  list-style: inside;
  color: white;
  font-family: "Gilmer";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  padding: 4px 0;
}
.confidentialite .text ul li strong {
  margin-top: 32px;
  font-family: "Athelas";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
}

/* Flickity horizontal scroll */
/*! Flickity v2.3.0
https://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */
.flickity-button {
  position: absolute;
  background: none;
  border: none;
  color: #B0ACAC;
  display: flex;
}

.flickity-button:hover {
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19F;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: currentColor;
}

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%);
  background: #555B47;
  color: white;
  width: 40px;
  height: 40px;
}

.flickity-prev-next-button.previous {
  left: 10px;
  opacity: 0;
}

.flickity-prev-next-button.next {
  right: 10px;
}

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/*# sourceMappingURL=app.css.map */
