
.cuisine{
    background: #555B47;
    padding: 0 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1{
        padding-top: 230px;
        font-family: 'Gilmer';
        font-style: normal;
        font-weight: 700;
        font-size: 63px;
        color: #F8F4EC;
    }
    p{
        margin-top: 50px;
        font-family: 'Gilmer';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: #F8F4EC;
    }
    .ligne{
        margin-top: 50px;
        border: 2px solid #F8F4EC;
        border-radius: 1px;
        margin-bottom: 64px;
    }
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: #555B47;
    padding-bottom: 64px;
    >p{
        margin: auto;
        width: 50%;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 100px;
        font-family: 'Gilmer';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #F8F4EC;
    }
    a{
        text-decoration: none;
        text-align: center;
        border: none;
        background: none;
        font-family: 'Gilmer';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #F8F4EC;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        padding: 9px 21px;
        background: #3A3D35;
        border-radius: 1px;
        text-decoration: none;
        transition: all 500ms;
    }

    a:hover{
        background-color: #1d1e1b;
    }
    .container{

        .parent {
            padding: 0 64px;
            margin-top: 100px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 32px;
            grid-row-gap: 0px;
            min-height: 306px;
            .content{
                flex-direction: column;
                background: #F8F4EC;
                padding: 20px;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                h3{
                    font-family: 'Athelas';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 48px;
                    line-height: 135%;
                    color: #555B47;
                }
                p{
                    font-family: 'Gilmer';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: #555B47;
                }
            }
        } 
    }
}



