.mentions{
    padding: 100px 64px;
    background-color: #555B47;
    h1{
        font-family: 'Gilmer';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        color: #F8F4EC;
    }
    
    h2{
        font-family: 'Athelas';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        color: #FFFFFF;
    }

}
   