.tarifs{
    .titre{
        height: 30vh;
        background: #F8F4EC;
        display: flex;
        justify-content: center;
        flex-direction: column;
        h1{
            font-family: 'Gilmer';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            text-align: center;
            color: #3A472B;
        }
        p{
            font-family: 'Gilmer';
            font-size: 20px;
            line-height: 135%;
            text-align: center;
            color: #555B47;

        }
    }
    .forfaits{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0 115px;
        background: #555B47;
        position: relative;
        .parent {
            padding: 100px 0;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 64px;
            grid-row-gap: 0px;
            .infos{
                position: absolute;
                display: flex;
                .taxes{
                    background: #F8F4EC;
                    padding: 32px 32px 32px 50px;
                    p{
                        font-family: 'Gilmer';
                        font-style: normal;
                        font-weight: 800;
                        font-size: 16px;
                        line-height: 19px;
                        color: #555B47;
                    }
                }
                img{
                    position: absolute;
                    left: 0;
                    top: 0;
                    transform: translateX(-50%);
                }
            }
            .tarif{
                background: #F8F4EC;
                .prix{
                    padding: 128px 48px;
                    background-image: url("../../assets/img/tarif_enfant.svg");
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    p{
                        font-family: 'Gilmer';
                        font-weight: 700;
                        font-size: 96px;
                        line-height: 112px;
                        text-align: center;
                        color: #F8F4EC;
                    }
    
                }
                .categorie{
                    p{
                        padding: 32px 0;
                        font-family: 'Gilmer';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        text-align: center;
                        color: #555B47;
                    }
    
                }
            }
            .tarif2{
                background: #F8F4EC;
                .prix{
                    padding: 128px 48px;
                    background-image: url("../../assets/img/tarif_adulte.svg");
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    p{
                        font-family: 'Gilmer';
                        font-size: 96px;
                        font-weight: 700;
                        line-height: 112px;
                        text-align: center;
                        color: #F8F4EC;
                    }
    
                }
                .categorie{
                    p{
                        padding: 32px 0;
                        font-family: 'Gilmer';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        text-align: center;
                        color: #555B47;
                    }
    
                }
            }
            .tarif3{
                background: #F8F4EC;
                .prix{
                    padding: 128px 48px;
                    background-image: url("../../assets/img/tarif_caf.svg");
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    p{
                        font-family: 'Gilmer';
                        font-weight: 700;
                        font-size: 96px;
                        line-height: 112px;
                        text-align: center;
                        color: #F8F4EC;
                    }
                }
                .categorie{
                    p{
                        padding: 32px 0 0 0;
                        font-family: 'Gilmer';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        text-align: center;
                        color: #555B47;
                    }
                    legend{
                        font-family: 'Gilmer';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 14px;
                        text-align: center;
                        color: #555B47;
                        padding-bottom: 16px;
                    }
                }
            }
            .tarif4{
                background: #F8F4EC;
                .prix{
                    padding: 128px 48px;
                    background-image: url("../../assets/img/tarif_bivouac.svg");
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    p{
                        font-family: 'Gilmer';
                        font-size: 96px;
                        font-weight: 700;
                        line-height: 112px;
                        text-align: center;
                        color: #F8F4EC;
                    }
    
                }
                .categorie{
                    p{
                        padding: 32px 0;
                        font-family: 'Gilmer';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        text-align: center;
                        color: #555B47;
                    }
    
                }
            }
        }
    }
}

.reservation{
    padding: 100px 64px;    
    background: #F8F4EC;
    input{
        background: none;
        font-family: 'Gilmer';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #555B47;
    }
    h2{
        font-family: 'Gilmer';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 58px;
        color: #3A472B;
        text-align: center;
        padding-bottom: 100px;
    }
    .resa{
        display: flex;
        flex-direction: row;
        gap: 128px;
        .resa-left{
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            clear: both;
            label{
                font-family: 'Gilmer';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 135%;
                color: #555B47;
            }
            input{
                border: 3px solid #555B47;
                height: 50px;
            }
            .form-flex{
                display: flex;
                flex-direction: row;
                gap: 100px;
                width: 100%;
                .form-left{
                    width: 50%;
                }
                .form-right{
                    width: 50%;
                }
                input{
                    width: 100%;
                }
            }
            .nb-personnes{
                margin-top: 50px;
                width: 100%;
                .flex{
                    margin-top: 16px;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    .right{
                        width: 224px;
                        >p{
                            color: white;
                            width: 224px;
                            padding: 12px 0;
                            background: #555B47;
                        }
                    }
                    .middle{
                        width: 224px;
                        >p{
                            color: white;
                            width: 224px;
                            padding: 12px 0;
                            background: #555B47;
                        }
                    }
                    .left{
                        width: 224px;
                        >p{
                            color: white;
                            width: 224px;
                            padding: 12px 0;
                            background: #555B47;
                        }
                    }

                    .quantite{
                        margin-top: 8px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        button{
                            width: 33%;
                            border: none;
                            background: none;
                        }
                        input{
                            text-align: center;
                            border: none;
                            width: 33%;
                            font-family: 'Gilmer';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 48px;
                            color: #555B47;
                            background: none;
                        }
                    }
                }
                p{
                    font-family: 'Gilmer';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    color: #555B47;
                    text-align: center;
                }
            }
            .date{
                margin-top: 50px;
                width: 100%;
                text-align: center;
                display: flex;
                flex-direction: column;
                label{
                    text-align: center;
                    margin-bottom: 10px;
                }
                input{

                    text-align: center;
                    width: 100%;
                    margin: auto;
                    width: 30%;
                    font-family: 'Gilmer';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    color: #555B47;
                }
            }
            .infos{
                margin-top: 50px;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 50px;
                p{
                    font-family: 'Gilmer';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 135%;
                    color: #555B47;
                    text-align: center;
                }
                input{
                    display: none;
                    text-align: center;
                    padding: 12px 50px;
                    font-family: 'Gilmer';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 135%;
                    border: 5px solid #555B47;
                    &:checked + label{
                        color: white;
                        background:#555B47 ;
                    }
                }
                label{
                    padding: 12px 50px;
                    border: 3px solid #555B47;
                    cursor: pointer;
                }
            }
            .message{
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                text-align: center;
                width: 100%;
                label{
                    margin-bottom: 10px;
                }
                textarea{
                    background: none;
                    width: 100%;
                    height: 200px;
                    font-family: 'Gilmer';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19px;
                    color: #555B47;
                }
            }
            .submit{
                margin-top: 50px;
                display: flex;
                width: 100%;
                justify-content: space-between;
                input{
                    font-family: 'Gilmer';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    color: white;
                    background: #555B47;
                    padding: 0 112px;
                }
            }
        }

        .resa-right{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 30%;
            p{
                margin-left: auto;
                margin-right: auto;
                font-family: 'Gilmer';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 150%;
                color: #555B47;
            }
            h3{
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                font-family: 'Athelas';
                font-style: normal;
                font-weight: 700;
                font-size: 48px;
                color: #555B47;
                margin-bottom: 25px;
            }
        }
    }
    
}

.nuit{
    background: #F8F4EC;
    width: 100%;
    display: flex;
    gap: 160px;
    flex-direction: row;
    min-height: 50vh;
    padding: 100px 64px;
    .left{
        width: 50%;
        background-image: url("../../assets/img/refuge_nuit.jpg");
        background-size: cover;
        background-position: 20% 80%;
        background-repeat: no-repeat;
    }
    .right{
        width: 50%;
        h3{                      
            font-family: 'Athelas';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            color: #555B47;
        }
        p{
            margin-top: 32px;
            line-height: 150%;
            min-height: 100%;
            font-family: 'Gilmer';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            color: #3A2E2E;
        }
    }

}

@media screen and (max-width: 1250px) {
    .tarifs .forfaits .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 32px;
        grid-row-gap: 32px;
    }
}